In [1]:
import numpy as np
import pandas as pd

data = {
            'Name': ['Alice', 'Bob', 'Charlie'], 
            'Age': [25, 30, 35]
      }

df = pd.DataFrame(data)

df.describe()

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [2]:
myArr = np.array([[1, 5, 85, 12], [15, 20, 10, 25]], dtype=np.int64)

In [3]:
print(myArr[0, 1])

5

In [4]:
ser = pd.Series(np.random.rand(12))

In [5]:
ser

0     0.329382
1     0.131195
2     0.232452
3     0.014332
4     0.432386
5     0.949735
6     0.986647
7     0.089828
8     0.699856
9     0.291633
10    0.346465
11    0.636556
dtype: float64

In [6]:

new_df = pd.DataFrame(np.random.rand(334, 5), index=np.arange(334)) 

print(new_df.head(5))

          0         1         2         3         4
0  0.149850  0.524364  0.769675  0.477352  0.892729
1  0.779288  0.914709  0.645573  0.517796  0.383096
2  0.940537  0.036190  0.485115  0.943506  0.074974
3  0.966414  0.205196  0.179163  0.419067  0.479820
4  0.113712  0.497278  0.343462  0.616913  0.688752

In [7]:
new_df.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.502432    0.499910    0.486640    0.476283    0.493489
std      0.280634    0.280408    0.293016    0.290731    0.285002
min      0.003686    0.000721    0.001207    0.007044    0.000752
25%      0.273300    0.263071    0.236549    0.219841    0.239249
50%      0.519686    0.507625    0.473655    0.468860    0.492817
75%      0.732930    0.742247    0.740009    0.708436    0.723301
max      0.993229    0.994215    0.997683    0.998767    0.996104

In [8]:

new_df.drop([1], axis=1)

            0         2         3         4
0    0.149850  0.769675  0.477352  0.892729
1    0.779288  0.645573  0.517796  0.383096
2    0.940537  0.485115  0.943506  0.074974
3    0.966414  0.179163  0.419067  0.479820
4    0.113712  0.343462  0.616913  0.688752
..        ...       ...       ...       ...
329  0.038977  0.369911  0.933963  0.487507
330  0.625885  0.605551  0.587365  0.332795
331  0.168512  0.551112  0.415493  0.642897
332  0.910314  0.203478  0.946755  0.663943
333  0.351018  0.177150  0.574869  0.464688

[334 rows x 4 columns]